body{
    font-family: 'Open Sans', sans-serif !important;
}
.content-item{
    margin-bottom: 100px;
}
.navbar, .footer{
    background-color: rgb(200, 89, 16) !important;
}
.nav-link{
    color:black !important;
    font-size:2em !important;
}
.nav-link:hover{
    text-decoration: underline;
}
.content{
    background-color: black !important;
}
.content-link{
    color: white;
    text-decoration: none;
}
.content-link:hover{
    color: white;
    text-decoration: underline;
}
